<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <h3>
        <a href="{{ url_for('main.post', id=post.id) }}">{{ post.tit }}</a>
        </h3>
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user',username=post.author.username) }}">
                <img class="img-rounded profile-thubnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">
                <span class="label label-info">{{ post.num_of_view }}浏览</span>
                <a href="{{ url_for('main.post',id=post.id) }}#comments">
                    <span class="label label-primary">{{ post.comments.count() }} 条评论</span>
                </a>
            </div>
            <div class="post-authou">
            <a href="{{ url_for('main.user',username=post.author.username) }}">{{ post.author.username }}</a>
            <span class="label label-default">{{ moment(post.timestamp).fromNow() }}</span>
            </div>
            <div class="post-body">
                {% if post.disable %}
                <p><i>该博文已经被管理员禁用，可能有违规内容。</i></p>
                {% endif %}
                {% if not post.disable or moderate %}
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="post-footer">
                <a href="{{ url_for('main.post',id=post.id) }}">
                    <span class="label label-default">点击进入</span>
                </a>

                {% if current_user==post.author %}
                <a href="{{ url_for('main.edit',id=post.id) }}">
                    <span class="label label-primary">编辑博文</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('main.edit',id=post.id) }}">
                    <span class="label label-danger">编辑博文[管理员]</span>
                </a>
                {% endif %}
            </div>
            <div class="post-left">
                {% if moderate %}
                <a href="{{ url_for('moderate.delete_post',id=post.id,page=page)}}">
                    <span class="btn btn-danger btn-sm">删除</span>
                </a>
                {%if post.disable %}
                <a href="{{url_for('moderate.posts_enable',id=post.id,page=page)}}">
                    <span class="btn btn-default btn-sm">解除博文</span>
                </a>
                {% else %}
                <a href="{{url_for('moderate.posts_disable',id=post.id,page=page)}}">
                    <span class="btn btn-warning btn-sm">禁用博文</span>
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>