{% extends "base.html" %}
{% import "_fenye.html" as fenye %}
{% block titel %}Flasky - {{ titel }}{% endblock %}
{% block page_content %}
<h2>{{ user.username }}{{ h2 }}</h2>
<ul class="posts">
    {% for follow in follows %}
        {% if follow['user'] != user %}
        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('main.user',username=follow['user'].username) }}">
                <img class="img-rounded profile-thubnail" src="{{ follow['user'].gravatar(size=40) }}">
                </a>

            </div>
            <div class="post-content">
                <div class="post-author">
                    <a href="{{ url_for('main.user',username=follow['user'].username) }}">
                    {{ follow['user'].username }}
                    </a>
                </div>
                <div class="post-date">
                {{ moment(follow['timestamp']).format('L') }}
                </div>
                <div class="post-body">
                {{ follow['user'].about_me }}
                </div>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% if pagination %}
<div class="pagination">
    {{ fenye.pagination_widget(pagination,endpoint,username=user.username) }}
</div>
{% endif %}
{% endblock %}